.inviteModerator {
    height: 40px;
    border-radius: 10px;
    border: 1px solid #ff9f43;
    text-indent: 15px;
    box-shadow: 0 2px 12px rgba(0, 0, 0, 0.04)
}
.reply {
    display: flex;
    align-items: center;
    gap: 16px;
    margin-top: 10px;
    border-radius: 15px;
    height: 80px;
    padding: 15px;
    box-shadow: 0 2px 12px rgba(0, 0, 0, 0.4) ;

    button {
        min-width: 150px;
    }
    input {
        height: 40px;
        border-radius: 15px;
        width: 100%;
    } 
}