@keyframes loading {
    0%   {
        opacity: 0.5;
        font-size: 24px;}
    50% {
        opacity: 1;
        font-size: 12px;}
    100% {
        font-size: 24px;}
    }

.loading{
    animation: loading 4s;
    height: 100vh;
    align-items: center;
    display: flex;
    align-items: center;
    justify-content: center;
    font: 500 26px 'Poppins', sans-serif;
}